<div class="container">
  <div class="header">
    <h1><%= I18n.t('activerecord.models.municipe.other') %></h1>
    <%= link_to I18n.t('helpers.submit.municipe.new'),
                new_municipe_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Municipe.new) } %>
  </div>

  <%= turbo_frame_tag Municipe.new %>

  <%= turbo_frame_tag "municipes" do %>
    <br>
    <%= render "municipes/empty_state" %>
    <%= render @municipes %>
  <% end %>
</div>